.signup-wrapper {
  display: flex;
  min-height: 100vh;
  .signup-background {
    background: #eef7fb;
    flex: 1 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 100%;
    }
  }
  .signup-content {
    flex: 1 50%;
    max-width: 50%;
    padding: 40px 130px;
    background: #ffffff;
    min-width: 500px;
    .signup-logo {
      margin-bottom: 80px;
      div {
        height: auto !important;
      }
    }
    .signup-form {
      .form-head {
        margin-bottom: 40px;
        text-align: center;
        h6 {
          color: #3d3d46;
          font-weight: 500;
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 16px;
        }
        span {
          color: #9292a3;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .signup-form-input {
        .signup-input {
          margin-bottom: 24px;
          :global .ant-form-item-label {
            padding-bottom: 2px;
            label {
              color: #9292a3;
            }
          }
          :global .ant-form-item-control-input-content {
            p {
              display: none !important;
            }
          }
        }
        .signup-timezone {
          margin-bottom: 16px;
          :global .ant-form-item-label {
            padding-bottom: 2px;
          }
        }
        .signup-button {
          margin-top: 40px;
          .btn-started {
            border-radius: 4px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            padding: 10px;
            width: 100%;
            height: auto;
            text-shadow: none;
            box-shadow: none;
          }
        }
        .signup-agree {
          span {
            color: #9292a3;
            a {
              color: #54b2d3;
            }
          }
        }
      }
      .signup-login {
        margin-top: 16px;
        text-align: center;
        span {
          color: #9292a3;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          a {
            color: #54b2d3;
          }
        }
      }
    }
  }
}
.signupAgree {
  margin-top: 240px;
}
@media (max-width: 768px) {
  .signup-wrapper {
    .signup-content {
      width: 100%;
      max-width: 100%;
    }
    .signup-background {
      display: none;
    }
  }
  .signupInput__FirstSecondName {
    width: 100%;
    flex-direction: column;
  }
  .signupInputs__div {
    width: 100%;
    flex-direction: column;
  }
  .signupInput__Company {
    width: 100%;
    flex-direction: column;
  }
  .signupInput {
    width: 100%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
  .signupInput__div {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
  .signupInput {
    width: 100%;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
}
@media (max-width: 600px) {
  .signup-wrapper {
    .signup-content {
      min-width: 300px;
      padding: 40px 5%;
    }
  }
  .signupInput__CompanyForm {
    width: 100%;
    flex: 1;
  }
  .signupInput {
    width: 100%;
    flex: 1;
  }
}

.signupInput {
  width: 100%;
  padding: 10px;
}
.signupInput__Company {
  width: 100%;
}
.signupInput__CompanyForm {
  padding: 10px;
  width: 100%;
  flex: 1;
}

.signupInputs__div {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  width: 100%;
}

.signupInput__div {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
