.performance-main-wrapper {
  .tabSetPerformance {
    border-top: 1px solid #ecedf0;
    :global .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            &.ant-tabs-tab-active {
              background: transparent !important;
            }
          }
        }
      }
    }
  }
  .performance-custom {
    overflow: auto;
    margin: 24px 0;
  }
  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #3d3d46;
    padding: 20px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid #ecedf0;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .assessment-main-wrapper {
    padding: 40px 24px;
    @media screen and (max-width: 767px) {
      padding: 20px;
    }
    .upcoming-message-wrapper {
      max-width: 440px;
      margin: 100px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #9292a3;
      }
      p {
        color: #9292a3;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
      :global .anticon {
        margin-bottom: 24px;
        svg {
          width: 80px;
          height: 80px;
          fill: #54b2d3;
        }
      }
    }
    .drop-down {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
      :global .ant-form-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .ant-form-item-label {
          padding-bottom: 0;
          margin-right: 12px;
        }
        .ant-form-item-control {
          .ant-form-item-control-input {
            min-width: 250px;
            @media screen and (max-width: 767px) {
              max-width: unset;
              min-width: unset;
              width: 100%;
            }
          }
        }
      }
    }
    .assessment-wrapper {
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .assessment-card {
        flex: 1 50%;
        max-width: calc(50% - 8px);
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        @media screen and (max-width: 767px) {
          flex: 1 100%;
          max-width: unset;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .content-wrapper {
        border: 1px solid #ecedf0;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        min-height: 311px;
        height: 100%;
        &.contentNoData {
          height: auto;
        }
        .content-header {
          padding: 16px;
          &.headerBorder {
            border-bottom: 1px solid #ecedf0;
          }
          .content-title {
            display: flex;
            svg {
              color: #54b2d3;
              margin-right: 10px;
              margin-top: 5px;
            }
            .title {
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #3d3d46;
            }
          }
          .sub-title {
            color: #9292a3;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }
        .content-body {
          display: flex;
          flex-direction: column;
          flex: 1;
          .no-content {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            .no-content-icon {
              position: relative;
              margin-bottom: 20px;
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 40px;
                height: 40px;
                background: #eef7fb;
                border-radius: 50%;
              }
              :global .anticon {
                margin-left: 12px;
                margin-bottom: 9px;
                z-index: 1;
                position: relative;
              }
              svg {
                color: #54b2d3;
                height: 38px;
                width: 38px;
              }
            }
            .desc {
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              color: #9292a3;
            }
          }

          .self-assessment-block {
            .self-assessment-box {
              .self-assessment-box-list {
                padding: 16px;
                border-bottom: 1px solid #ecedf0;
                .self-assessment-list {
                  margin-bottom: 16px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  .self-assessment-question {
                    color: #9292a3;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 2px;
                  }
                  .self-assessment-answer {
                    color: #3d3d46;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                  }
                }
              }
            }
            .self-assessment-unlock {
              padding: 16px;
              :global .anticon {
                color: #54b2d3;
                margin-right: 8px;
              }
              span {
                color: #9292a3;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                a {
                  color: #54b2d3;
                }
              }
            }
          }
          .manager-assessment-block {
            .manager-assessment-box {
              padding: 16px;
              &.border {
                border-bottom: 1px solid #ecedf0;
              }
              .manager-assessment-questions {
                color: #54b2d3;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 16px;
                display: block;
              }
              .manager-assessment-list {
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0;
                }
                :global .ant-form-item-label {
                  padding-bottom: 0;
                  margin-bottom: 2px;
                  label {
                    color: #9292a3;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                  }
                }
                :global .ant-form-item-control {
                  .ant-select {
                    .ant-select-selector {
                      border-radius: 4px;
                      .ant-select-selection-item {
                        color: #3d3d46;
                        font-weight: normal;
                        font-size: 16px;
                      }
                    }
                  }
                  .ant-form-item-control-input {
                    .ant-input {
                      color: #3d3d46;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;
                    }
                  }
                }
              }
              .manager-assessment-step-save {
                padding-top: 8px;
                .btn-right-space {
                  margin-right: 16px;
                }
              }

              .manager-assessment-options {
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0;
                }
                .manager-assessment-options-label {
                  color: #9292a3;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                  margin-bottom: 8px;
                }
                .manager-assessment-options-list {
                  display: flex;
                  align-items: center;
                  margin-bottom: 4px;
                  .count {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #ecedf0;
                    margin-right: 8px;
                    color: #b8b8c0;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    &.selected {
                      background: #54b2d3;
                      border-color: #54b2d3;
                      color: #ffffff;
                    }
                  }
                }
                .manager-assessment-options-value {
                  color: #b8b8c0;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.remind-modal {
  h2 {
    display: none;
  }
  .btnRemind {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
