.customContainer {
  width: 100%;
  :global {
    .ant-table-thead > tr > th {
      background: #ffffff;
      border-top: 1px solid #f1f1f1;
    }
    table {
      @media only screen and (max-width: 767px) {
        display: block;
        width: 100% !important;
      }
    }
    .ant-table-thead {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .ant-table-tbody {
      @media only screen and (max-width: 767px) {
        display: block;
        padding: 0 16px;
      }
      tr {
        position: relative;
        border-bottom: 1px solid #f1f1f1;
        @media only screen and (max-width: 767px) {
          background: #ffffff;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          margin-top: 20px;
          padding: 16px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          min-height: 124px;
          &:first-child {
            display: none;
          }
          td {
            display: block;
            padding: 0;
            width: 100%;
            border: 0;
            margin: 0 0 4px;
            &:first-child {
              text-align: left;
              order: 1;
              max-width: 100%;
              display: none;
            }
            &:nth-child(2) {
              order: 2;
              max-width: calc(100% - 120px);
              font-size: 16px;
              line-height: 20px;
              font-weight: 600;
              color: #3d3d46;
              text-transform: capitalize;
            }
            &:nth-child(3) {
              order: 5;
              max-width: 100%;
              font-size: 14px;
              line-height: 18px;
              color: #9292a3;
              position: unset;
            }
            &:nth-child(4) {
              order: 3;
              max-width: 100px;
              margin-left: auto;
              color: #9292a3;
              text-align: right;
              padding: 0 0 0 5px;
            }
            &:nth-child(5) {
              order: 6;
              max-width: 100%;
              display: none;
            }
            &:nth-child(6) {
              order: 7;
              max-width: 100%;
            }
            &:nth-child(7) {
              order: 4;
              max-width: 10px;
              width: 10px;
              overflow: hidden;
            }
            &.icon-img-td {
              order: 8;
              width: 0;
              height: 0;
              margin: 0;
              position: unset;
            }
          }
        }
      }
    }
    tr:hover {
      background-color: #eef7fb;
      cursor: pointer;
    }
    .ant-table-cell .drag-visible {
      cursor: pointer !important;
    }
    .ant-table-cell {
      .ant-table-expanded-row-fixed {
        text-align: center;
        padding: 24px;
        font-family: 'Circular-Std-Book';
        font-size: 14px;
        font-weight: 500;
      }
    }
    .align-center {
      text-align: center;
    }
  }
}
.name {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bgIcon {
  @media only screen and (max-width: 767px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 87px;
    height: 87px;
  }
}
.versionBtn:hover {
  color: #54b2d3;
}

.active-btn {
  background: rgba(84, 178, 211, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(84, 178, 211, 0.5);
  color: var(--primary-color);
  cursor: pointer;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  width: 106px;
  text-transform: none;
  height: 24px;
  position: relative;
  @media only screen and (max-width: 767px) {
    display: flex;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 18px;
    width: initial;
    height: initial;
    margin-left: 8px;
    position: relative;
  }
  &::before {
    @media only screen and (max-width: 767px) {
      content: "''" !important;
      display: block !important;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: var(--primary-color);
      border-radius: 50%;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      overflow: hidden;
    }
  }
  &:hover,
  &focus {
    @media only screen and (max-width: 767px) {
      background: transparent;
      border: none;
    }
  }
  .serviceNum {
    display: block;
    position: absolute !important;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    min-width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eff7fb;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    &:before {
      content: '';
      width: 5px;
      height: 5px;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 3px solid #eff7fb;
      position: absolute;
      left: -3px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    @media only screen and (max-width: 767px) {
      position: unset;
      right: unset;
      top: unset;
      transform: unset;
      margin-left: 8px;
      background: transparent;
    }
  }
}
.manualBtn {
  border-radius: 4px;
  background: rgba(255, 168, 39, 0.05);
  border: 1px solid rgba(255, 168, 39, 1);
  color: var(--warning-color);
  cursor: pointer;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  width: 106px;
  text-transform: none;
  height: 24px;
  @media only screen and (max-width: 767px) {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 18px;
    width: initial;
    height: initial;
    margin-left: 8px;
    position: relative;
  }
  &::before {
    @media only screen and (max-width: 767px) {
      content: "''" !important;
      display: block !important;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: var(--warning-color);
      border-radius: 50%;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      overflow: hidden;
    }
  }
  &:hover,
  &:focus {
    background: #fff;
    border: 1px solid rgba(255, 165, 0, 0.5);
    color: var(--warning-color);
    @media only screen and (max-width: 767px) {
      background: rgba(255, 165, 0, 0.05);
      border: none;
      color: var(--warning-color);
    }
  }
}
.inactive-btn {
  background: rgba(165, 169, 170, 0.05);
  border: 1px solid rgba(165, 169, 170, 0.5);
  color: #a5a9aa;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  width: 106px;
  border-radius: 4px;
  height: 24px;
  text-transform: none;
  cursor: not-allowed;
}

.require-setup-btn {
  background: rgba(255, 168, 39, 0.05);
  border: 1px solid rgba(255, 168, 39, 0.5);
  color: #ffa827;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  min-width: 106px;
  border-radius: 4px;
  height: 24px;
  text-transform: none;
  cursor: not-allowed;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;

  td {
    padding-right: 10px;
    padding-left: 10px;
  }

  tr {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tableOperations {
  > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    > div {
      > button {
        @media only screen and (max-width: 767px) {
          max-width: 6px;
          width: 6px;
          height: 16px;
          border: 0;
          align-items: flex-start;
          justify-content: flex-start;
          background-color: transparent;
        }
        &:hover {
          @media only screen and (max-width: 767px) {
            border: 0;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.ant-table-tbody {
  tr:hover {
    .tableOperations > div {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}

.paginationContainer {
  padding: 0 1rem;
}
