.group-permission-wrapper{
  :global .ant-tabs {
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        width: auto !important;
        .ant-tabs-tab {
          &.ant-tabs-tab-active {
            background: #eef7fb !important;
          }
        }
      }
    }
  }
}
.group-add-modal{
  .btn-add{
    display: flex;
    justify-content: flex-end;
  }
}

