body {
background: #fafafa;
}

.logo{
    width: 450px;
    margin: 90px auto;
}

.main-div{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .form-login {
        background: #fff;
        width: 450px;
        margin-top: -2rem;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
        :global .ant-form {
            .ant-form-item {
                .ant-form-item-label {
                    label {
                        font-size: 14px;
                        line-height: 22px;
                        color: #9292A3;
                    }
                }
            }
        }
  ​
        .form-head {
            margin-bottom: 40px;
            margin-top: 40px;
            display: flex;
            justify-content: center;

            h1{
                font-weight: 500;
                line-height: 25px;
                color: #3D3D46;
                text-align: center;
            }
        }

        .btn-submit {
            button {
                background: #54B2D3;
                border-radius: 4px;
                margin-top: 24px;
                text-align: center;
                height: 40px;
                width: 100%;
            }
            .btn-disabled{
                background: rgb(170, 170, 170) !important;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                height: 40px;
              }
        }

        .btn-singin {
            button {
                border-radius: 4px;
                margin-top: 24px;
                text-align: center;
                height: 40px;
                width: 100%;
            }
        }
    }
}
