.paymentWrapper {
  width: 560px;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #F4F5F7;
  box-sizing: border-box;
  box-shadow: 2px 2px 17px rgba(9, 20, 41, 0.05);
  border-radius: 4px;
  padding: 32px;
  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
     color: #3D3D46;
  }
  .payment-details {
    border: 1px solid #ECEDF0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 24px;
    display: flex;
    margin-bottom: 24px;
    .contentTask {
      flex: 1;
        h6 {
          font-size: 16px;
          line-height: 20px;
          color: #737387;
        }
      h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        color: #3D3D46;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        color: #3D3D46;
      }
    }

  }
  .paymentForm {
    .btnPayment {
      width: 100%;
    }
    .icon {
      display: flex;
      align-items: center;
      label {
        margin-right: 5px;
        font-size: 16px;
        line-height: 20px;
        color: #737387;
      }
    }
    :global .ant-form {
      .ant-form-item {
        .ant-form-item-label {
          padding-bottom: 0;
          label {
            font-size: 16px;
            line-height: 20px;
            color: #737387;
          }
        }
        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              position: relative;
              input {
                background: #FFFFFF;
                border: 1px solid #ECEDF0;
                box-sizing: border-box;
                border-radius: 4px;

              }

              .ant-picker {
                width: 100%;
                .ant-picker-input {
                  input {
                    border: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.footerBttom {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #737387;

  }
  .boxEle {
    display: flex;
    .box {
      width: 176px;
      height: 84px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .paymentWrapper {
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    padding: 0 20px 20px;
    h3 {
      font-size: 16px;
      line-height: 24px;
    }
    .payment-details {
      padding: 20px;
      flex-direction: column;
      .contentTask {
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

    }
    .paymentForm {
      .btnPayment {
        width: 100%;
      }
      .icon {
        display: flex;
        align-items: center;
        label {
          margin-right: 5px;
          font-size: 16px;
          line-height: 20px;
          color: #737387;
        }
      }
      :global .ant-form {
        .ant-form-item {
          .ant-form-item-label {
            padding-bottom: 0;
            label {
              font-size: 16px;
              line-height: 20px;
              color: #737387;
            }
          }
          .ant-form-item-control {
            .ant-form-item-control-input {
              .ant-form-item-control-input-content {
                position: relative;
                input {
                  background: #FFFFFF;
                  border: 1px solid #ECEDF0;
                  box-sizing: border-box;
                  border-radius: 4px;

                }

                .ant-picker {
                  width: 100%;
                  .ant-picker-input {
                    input {
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footerBttom {
    width: 100%;
    display: none;
    p {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #737387;

    }
    .boxEle {
      display: flex;
      .box {
        width: auto;
        height: 84px;
        background: #FFFFFF;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.promoCode {
  margin-bottom: 42px;
  h5 {
    font-size: 16px;
    line-height: 24px;
    color: #3D3D46;
  }
  .inputWrap {
    display: flex;
    input {
      background: #FFFFFF;
      border: 1px solid #ECEDF0;
      height: 40px;
      border-radius: 4px;
      flex: 1;
      padding: 0 12px;
      &::placeholder {
        font-size: 16px;
        line-height: 24px;
        color: #B8B8C0;
      }
    }
    button {
      margin-left: 16px;
      background: #F2F5F7;
      border: 1px solid #E8E8E8;
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
      font-size: 16px;
      line-height: normal;
      text-transform: capitalize;
      color: #CFCFD7;
      &.active {
        background: #54B2D3;
        color: #fff;
      }
    }
  }
}
