.no-scroll {
  overflow: hidden;
}

#draggable {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'Circular-Std-Bold';
  src: url('/fonts/CircularStd-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Circular-Std-Black';
  src: url('/fonts/CircularStd-Black.otf') format('otf');
}
@font-face {
  font-family: 'Circular-Std-Book';
  src: url('/fonts/CircularStd-Book.otf') format('otf');
}
@font-face {
  font-family: 'Circular-Std-Medium';
  src: url('/fonts/CircularStd-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Circular-Std-Black';
  src: url('/fonts/CircularStd-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Circular-Std-Book';
  src: url('/fonts/CircularStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Circular-Std-Medium';
  src: url('/fonts/CircularStd-Medium.otf') format('opentype');
}
