.e-paper {
  background: #ffffff;
  border-radius: 4px;
  .e-paper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    .e-paper-title {
      line-height: 22px;
      color: #3d3d46;
      margin-left: 20px;
    }
    .e-paper-page {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #9292a3;
      .e-paper-page-number {
        background: #ffffff;
        border: 1px solid #ecedf0;
        box-sizing: border-box;
        border-radius: 4px;
        width: 56px;
        margin: 0 8px;
        padding: 5px 12px 5px 2px;
        span {
          color: #3d3d46;
        }
      }
      .num-pages {
        margin-right: 32px;
      }
      .navigation {
        width: 121px;
        background: #ffffff;
        border: 1px solid #ecedf0;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px 16px;
        margin-right: 8px;
        cursor: pointer;
        .prev-page {
          margin-right: 8px;
        }
        .next-page {
          margin-left: 8px;
        }
      }
    }
  }
  .ePaperContent {
    margin-top: 23px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    background: #fdfdfe;
    :global {
      .react-pdf__Page__canvas {
        margin: 0 auto;
        width: 80% !important;
        height: 100% !important;
        border: 1px solid #9292a2;
      }
    }
  }
}
