@media (max-width: 768px) {
  .signupInput__CompanyLocation {
    width: 100%;
    flex-direction: column;
  }
  .locationSetingsMore__form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .locationSetingsMore__formItem {
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
  }
  .signupInputs__form {
    width: 100% !important;
    flex-direction: column;
    flex: 1;
  }
  .signupInputs__div {
    width: 100% !important;
    flex: 1;
  }
  .signupInput__form {
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .signupInput__formItem {
    width: 100%;
    flex: 1;
  }
}

.signupInput__form {
  width: 100%;
  flex: 1;
}

.signupInput__formItem {
  flex: 1;
}

.signupInput__div {
  display: flex;
}

.signupInput__div > button {
  position: absolute;
  right: 10px;
}

.locationSettingsMore__formItemInside {
  width: 250px;
  margin-top: 5px;
}
