.card {
  padding: 20px 24px;
  background: #ffffff;
  box-shadow: 3px 0px 10px rgba(0, 34, 65, 0.12);
  border-radius: 4px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 34%) 0px 1px 8px;
  }
  .cardWrapper {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    .avatarIcon {
      :global .ant-avatar.ant-avatar-icon {
        background-color: #65cd981a !important;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18px;
          height: 18px;
        }
      }

      .user {
        color: #65cd98;
      }
    }
    .docsIcon {
      :global .ant-avatar.ant-avatar-icon {
        background-color: #54b2d31a !important;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .file {
        color: #54b2d3;
      }
    }
    .userIcon {
      :global .ant-avatar.ant-avatar-icon {
        background-color: #faad141a !important;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .users {
        color: #faad14;
      }
    }
    .folderIcon {
      :global .ant-avatar.ant-avatar-icon {
        background-color: #7b61e21a !important;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .folder {
        color: #7b61e2;
      }
    }
    .cardContent {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #3d3d46;
      }
      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #9292a3;
      }
    }
    .card {
      width: 100%;
      min-height: 120px;
      height: calc(100% - 40px);
      padding: 12px 16px;
      position: relative;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 12px;
    margin: 6px 0;
    .cardWrapper {
      .cardContent {
        margin-left: 9px;
      }
    }
  }
}
.tablebox {
  padding: 1px !important;
  background: #ffffff;
  box-shadow: 3px 0px 10px rgba(0, 34, 65, 0.12);
  border-radius: 4px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 34%) 0px 1px 8px;
  }
  .divider {
    border: 1px solid #ecedf0;
  }
  .table {
    border-right: 1px solid #ecedf0;
    .apptContant {
      max-height: 275px;
      overflow: auto;
    }
    .topheader {
      padding: 24px 16px 16px 24px;
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #3d3d46;
        margin-bottom: 8px;
      }
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #3d3d46;
        margin-bottom: 4px;
      }
      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: green;
      }
    }
    .record {
      display: block;
      padding: 16px 24px;
      border-top: 1px solid #ecedf0;
      .content {
        display: flex;
        justify-content: space-between;
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #3d3d46;
        }
        .label {
          width: 286px;
          display: flex;
          overflow-wrap: anywhere;
          text-transform: capitalize;
        }
      }
    }
  }
}
.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
.mainCard {
  margin-bottom: 16px;
}

.titleSkeleton {
  width: 50px;
  height: 21px !important;
  margin-bottom: 3px;
}

.descSkeleton {
  width: 70px;
  height: 21px !important;
}

.countSkeleton {
  width: 90px;
  height: 18px !important;
  margin-bottom: 3px;
}
