.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Circular Std;
    font-style: normal;
    >.title{
        >div:first-child{
            padding-left:0px;
            padding-top:0px;
        }
        >.titleText{
            font-size: 20px;
        }
    }
    >.options{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:unset;
        >.configureButton{
            background-color:var(--primary-color);
            color:white;
        }
        >.filterButton{
            color:var(--light-gray-color);
        }
        >button{
            margin-left:16px;
        }
    }
}
.padLeft32{
    margin-left: 32px;
}

.padLeft5{
    margin-left: 16px;
}
.padTop8{
    padding-top: 8px;
}
:global{
    .ant-table-thead > tr{
        > th:not(.leaderboard):not(:nth-child(1n+3)){
            padding-left: 84px;
        }
        >th{
            color:var(--light-gray-color);
            background-color: unset;
        }
    }
    .ant-table-tbody{
        > tr{
            >td{
                padding-bottom: 8px;
                padding-top:8px;
            }
        }
        > tr:not(:hover){
            >td:last-child>button{
                display: none;
            }
        }
    }
}
@media (max-width:1500px){
    .padLeft32{
        margin-left: 20px;
    }
    
    :global{
        .ant-table-thead > tr:not(.leaderboard){
            > th:not(:nth-child(1n+3)){
                padding-left: 16px;
            }
        }
        .ant-table-body{
            overflow-x: scroll;
        }
    }
}

.rankColumn{
    width:60px;
}
.userColumn{
    width:275px
}
.pointsColumn{
    width:275px
}
.rankItem{
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    padding-top: 5px;
}
.pointsWrapper{
    display:flex;
    >div{
        flex-grow: 9;
    }
    >div:first-child{
        flex-grow: 1;
    }
}