.journeyContainer {
  max-width: 998px;
  margin: 0 auto;
  box-sizing: border-box;
  .grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 196px;
    gap: 0 33px;
    margin-top: 36px;
    .grid-items {
    }
  }
}
