.tileContainer {
  background: #ffffff;
  border: 1px solid #f4f5f7;
  box-shadow: 2px 2px 17px rgba(9, 20, 41, 0.05);
  border-radius: 4px;
  display: flex;
  padding: 24px;
  margin-bottom: 32px;
  align-items: center;
  cursor: pointer;
  .iconCenter {
    display: flex;
  }

  .textContainer {
    padding-left: 16px;
    span {
      font-size: 16px;
      color: #3d3d46;
      line-height: 20px;
      display: block;
      // padding-bottom: 4px;
    }

    p {
      font-size: 20px;
      color: #3d3d46;
      margin: 0;
      line-height: 24px;
    }
  }
}

.selectedTile {
  border: 1px solid #54b2d3;
}
