.headerCRUD {
  float: right;
}
.filter-popover {
  min-width: 250px;
  max-width: 250px;
}
.GridVsList {
  padding-left: 10px;
  display: inline;
  top: 25px;
  height: 40px;
  div.ant-radio-group.ant-radio-group-outline {
    padding-top: 10px;
  }
  label {
    height: 40px;
  }
}
.GridIcons {
  font-size: 1.1em;
  padding-top: 10px;
  box-sizing: border-box;
  font-weight: 500;
}
.createSourceBtn {
  margin-left: 0;
}
.filter-content {
  margin-top: 15px;
  p {
    margin-bottom: 4px !important;
  }
  .apply-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .reset-button {
    width: 100%;
  }
  .location-dropdown {
    width: 100%;
  }
}
