.customRequiredTag {
  background-color: var(--red-color-text);
  padding: 3px 10px;
  font-size: 11px;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.customHiddenTag {
  background-color: var(--warning-color);
  padding: 3px 10px;
  font-size: 11px;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
