.dragable-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-height: calc(100vh - 300px);
  min-height: 74vh;
  scroll-behavior: smooth;
  margin-bottom: 20px;
  .lead-stage {
    display: flex;
    align-items: center;
    top: 0;
    z-index: 8;
    position: sticky;

    .lead-stage-titlemain {
      width: 100%;
      margin-bottom: 6px;
      &:first-child {
        padding-left: 0;
      }

      .lead-stage-title {
        background: #ffffff;
        max-width: 250px;
        min-width: 100;
        align-items: flex-start;
        justify-content: center;
        padding: 16px !important;
        height: 70px;
        padding: 4px;
        border: 1px solid #0000001a;
        display: block;

        .lead-stage-name {
          font-size: 14px;
          line-height: 17.71px;
          color: #3d3d46;
          margin-bottom: 4px;
          font-weight: 400;
          letter-spacing: 0.3px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: none;
          font-family: 'Circular-Std-Bold';
          padding: 0;
        }
      }

      .lead-count {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: #9292a3;
        font-family: 'Circular-Std-Bold';
      }
    }
  }

  .card-main-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    .lead-stage-wrapper {
      min-width: 100px;
      flex: 1;
      max-width: 250px;
      border-right: 1px solid #0000001a;
      background: #b8b8c01a;
      &:last-child {
        border-right: unset;
      }
    }
    .all-cards {
      margin: 0 4px 0 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: calc(100% - 180px);
      max-height: calc(100%);
      padding-top: 0 !important;
      gap: 6px;

      .card-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        background: #ffffff;
        &:focus {
          outline: none;
          border: none;
        }
      }

      .card-wrapper-duplicate {
        display: flex;
        justify-content: space-around;
        margin-bottom: 6px;
        background: #ffffff;
        &:focus {
          outline: none;
          border: none;
        }
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        top: 0;
        width: 100%;
      }
    }
  }

  .pre-loader {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.won-lost-drop-zone {
  display: flex;
  opacity: 0;
  max-height: 1px;
  position: sticky;
  bottom: 0;
  z-index: 9;
  width: 100%;
  .won-dropZone {
    flex-grow: 1;
    padding: 10px;
    color: #65cd98;
    width: 50%;
    margin: 0 8px 0 0;
    text-align: center;
    background-color: #f0faf5;
    flex-basis: 50%;
    border: #65cd98 dashed 1px;

    //styleName: 24/Medium;
    font-family: 'Circular-Std-Bold';
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .lose-dropZone {
    flex-grow: 1;
    padding: 10px;
    color: #ff5b64;
    text-align: center;
    width: 50%;
    flex-basis: 50%;
    margin: 0 0 0 0;
    background-color: #fff2f3;
    border: #ff5b64 dashed 1px;
    //styleName: 24/Medium;
    font-family: 'Circular-Std-Bold';
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0em;
  }
}

.overlay {
  padding: 0;
  :global {
    .ant-tooltip-content {
      .ant-tooltip-arrow {
        display: none;
      }
      .ant-tooltip-inner {
        padding: 0 5px;
        min-height: auto;
      }
    }
  }
}
