.desktop-view-none {
  display: none;
}

.mobileHeaderContainer {
  background-color: #fff;
}

.desktopHeader {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;

  .searchInput {
    width: 250px;
    &.payment-search {
      width: 305px;
    }
  }

  button {
    margin-left: 16px;
    color: #9292a3;
  }
}

.date-filter-container {
  width: 95vw;
  max-width: 500px;
  background-color: #fff;
  padding: 16px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));

  .range-picker {
    width: 100%;
    margin-top: 16px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .mobile-view-none {
    display: none;
  }

  .desktop-view-none {
    display: block;
  }
}

.reminder-text-2 {
  margin-left: 5px;
  color: #54b2d3;
  width: 18px;
  height: 18px;
  padding: 0px 2px;
  background: white;
  border-radius: 50%;
  vertical-align: middle;
}

.search-input-text {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .mobile-search-input {
    margin-left: 15px;
    width: 100%;

    .mobile-search-style {
      width: 256px;
      height: 40px;
      background: #ffffff;
      border: 1px solid var(--border-color-base);
    }
  }
}
.marketing-icon-style {
  font-size: 19px;
  color: var(--light-grey-color);
  padding-right: 25px;
}
.marketing-icon-style {
  font-size: 19px;
  color: var(--light-grey-color);
  padding-right: 25px;
}

.mobile-header {
  flex: 1;
  display: flex;

  .left-outlined {
    font-size: 20px;
  }

  .title {
    margin-left: 16px;
  }
}

.reminderBtn {
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100px;
}

.filter-box {
  width: 350px;
  padding: 20px 24px 0;
  p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    .clear-btn {
      margin-right: 12px;
    }
  }
}

.filter-pop-over {
  :global {
    .ant-popover-content {
      .ant-popover-inner {
        .ant-popover-inner-content {
          padding: 0;
        }
      }
    }
  }
}
