.document-viewer-wrapper {
    .document-input-wrapper {
        max-width: 300px;
        padding-left: 24px;
        :global {
            .ant-input {
                margin-bottom: 20px;
            }
        }
    }
    .show-btn {
        margin: 24px;
    }
    .document-wrapper {
        margin-top: 20px;
        padding: 24px;
        background: #fff;
    }
}