.servicesMain {
  :global {
    .ant-card-head,
    .ant-card-head-title,
    .ant-card-body {
      padding: 0px;
      border: none;
      @media screen and (max-width: 767px) {
        min-height: auto;
      }
    }
    .leftPadding {
      padding-left: 30px !important;
    }
    th.leftPadding {
      padding-left: 15px !important;
    }
    .ant-table-thead > tr > th:hover {
      background: #eef7fb !important;
    }
    .ant-tabs-top {
      > .ant-tabs-nav {
        background-color: #fff;
        > .ant-tabs-nav-wrap {
          border-bottom: 1px solid #ecedf0;
          > .ant-tabs-nav-list {
            > .ant-tabs-tab {
              padding: 15px 50px;
              background-color: transparent !important;
            }
          }
        }
      }
    }

    .hidden-lg,
    .plus-icon-style {
      @media screen and (min-width: 769px) {
        display: none;
      }
    }

    .hidden-sm {
      @media screen and (max-width: 768px) {
        display: none;

        & + h3 {
          margin-bottom: 5px !important;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            margin-right: 5px;
            font-weight: normal !important;
          }
        }
      }
    }
  }

  .header {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ecedf0;

    @media screen and (max-width: 768px) {
      padding: 16px 16px 21px 16px;
      position: fixed;
      z-index: 3;
      width: 100%;
      line-height: 0px;
      top: 0;
      z-index: 9;
      background: #fff;
    }

    .searchDrugsListing {
      width: 256px;
      height: 40px;
      background: #ffffff;
      border: 1px solid var(--border-color-base);

      &:hover {
        border-color: #7ec9e0;
      }
    }
    button {
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
    :global {
      div.leftDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .ant-breadcrumb {
          padding: 0px;
          margin: 10px 0px 5px 0px;
        }

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #3d3d46;
          margin: 5px 0px 10px 0px;
        }
      }
      div.rightDiv {
        display: flex;
        align-items: center;
        div {
          display: flex;
          align-items: center;
        }

        span.hidden-lg {
          margin-left: 20px;
          line-height: 100%;
          cursor: pointer;
          svg {
            fill: #9292a3;

            &:active,
            &:hover,
            &:focus {
              fill: #54b2d3;
            }
          }

          .isMobile-search-input {
            margin-bottom: 3.5px;
          }
        }
        span.plus-icon-style {
          margin-left: 20px;
          font-size: 25px;
          border-radius: 4px;
          color: #54b2d3;
        }
        button.hidden-lg {
          margin-left: 20px;
          padding: 4.5px 5px 10px 5px !important;
          margin-top: -3px;
          span {
            font-size: 20px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        div.leftDiv {
          h3 {
            margin-bottom: 0px;
            font-family: Circular-Std-Medium;
            font-style: normal;
            font-weight: bolder;
            font-size: 17px;
            line-height: 22px;
            text-transform: capitalize;
            color: var(--grey-text-color);
          }
        }
        div.rightDiv {
          span.hidden-lg {
            font-size: 19px;
          }
        }
      }
    }
  }
  .body {
    .libraries-tab {
      background: #fff;
    }
    .library {
      padding: 10px;

      :global {
        .ant-col {
          padding: 10px;
        }
      }

      .libraryCard {
        min-height: 144px;
        background: #ffffff;
        border: 1px solid #ecedf0;
        border-radius: 4px;
        box-sizing: border-box;
        border-radius: 3px 4px 4px 3px;

        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        :global {
          div {
            margin-bottom: 15px;
            font-size: 18px;
          }
          h4 {
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            color: #3d3d46;
            margin-bottom: 0px;
          }
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #9292a3 !important;
            margin-bottom: 0px;
          }
        }

        &:hover {
          cursor: pointer;
          border-color: transparent;
          box-shadow: 4px 0px 20px rgba(0, 34, 65, 0.1);

          * {
            color: #54b2d3;
          }
        }
      }
    }
  }
  :global .ant-popover-inner-content {
    display: flex;
    justify-content: center;
    padding: 0px;
    .filterContent {
      min-width: 320px !important;
      h2 {
        margin: 0px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #3d3d46;
      }
      label {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #9292a3;
        margin-bottom: 5px;
      }

      .ant-card-body {
        & > div {
          max-width: 144px;
          margin-bottom: 15px;

          &:last-child {
            max-width: 100% !important;
            margin-bottom: 0px;
          }
          .filtersInnerButtons {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
            button {
              margin-left: 10px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
.marketing-icon-style {
  font-size: 19px;
  color: var(--light-grey-color);
  padding-right: 25px;
}
.plus-icon-style {
  color: var(--primary-color);
  font-size: 25px;
  border-radius: 4px;
}
.active-btn {
  background: rgba(84, 178, 211, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(84, 178, 211, 0.5);
  color: var(--primary-color);
  cursor: pointer;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  width: 106px;
  text-transform: none;
  height: 24px;
}

.disable-source-btn {
  background: rgba(165, 169, 170, 0.05);
  border: 1px solid rgba(165, 169, 170, 0.5);
  color: #a5a9aa;
  font-family: Circular-Std-Book;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 1px 12px;
  width: 106px;
  border-radius: 4px;
  height: 24px;
  text-transform: none;
  cursor: not-allowed;
}

.paginationDiv {
  @media screen and (max-width: 768px) {
    & > div {
      & > div {
        flex-direction: column;
        align-items: center;
        p {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
      }
    }
  }
}
