
.activity-modal {
  top: 10px !important;
:global {
  .ant-modal-content {
    .ant-modal-header {
      padding: 24px 40px 5px;
    }
  }
}
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ECEDF0;
    .subHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      background: #FFFFFF;
      &-Left {
        display: flex;
        align-items: center;
        & > div {
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 24px;
          }
          &.active {
            color: #54B2D3;
            :global {
              svg {
                path {
                  fill: #54b2d3 !important;
                }
              }
            }
          }
        }
      }
      &-Right {
        display: flex;
        align-items: center;
        height: 12px;
        width: 153px;
        border-radius: 15px;
        overflow: hidden;
      }
    }
    .userName {
      width: 331px;
      display: flex;
      align-items: center;
      padding: 0 24px;
      .userText {
        font-size: 14px;
        line-height: 18px;
        color: #3D3D46;
        margin-left: 12px;
      }
    }
  }
  .mainContentWrapper {
    display: flex;
    .mainContent {
      padding-right: 22px;
      padding-bottom: 20px;
      position: relative;
      &:before {
        position: absolute;
        right: 0;
        content: '';
        background: #ECEDF0;
        width: 2px;
        height: 100%;
        top: 0;
      }

      .input-text {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        :global {
          .ant-form-item {
            margin-bottom: 0;
            width: 100%;
          }
        }
        :global .anticon {
          margin-right: 14px;
          height: 40px;
          display: flex;
          align-items: center;
          svg {
          fill: #9292A3 ;
            width: 16px;
            height: 16px;
          }
        }
      }

      .widgetTool {
        display: flex;
        align-items:center;
        margin-bottom: 16px;
        :global {
          .ant-select {
            .ant-select-selector {
              height: 40px;
              .ant-select-selection-item {
                line-height: 40px;
              }
            }
          }
        }
        .dateGroup {
          display: flex;
          width: 100%;
          flex-wrap: nowrap;
          align-items: center;
          :global {
            .ant-picker {
              height: 40px;
              
              .ant-select-selection-item {
                line-height: 40px;
              }
            }
          }
        }
        .time-input {
          margin-right: 9px;
          p {
            margin: 0 !important;
          }
        }
        .dashTag {
          margin-right: 10px;
          color: #000;
        }
        .block-icon {
          margin-right: 14px;
        }
        .free-select {
          width: 200px;
        }
        :global{
          .ant-select {
            color: #B8B8C0;
          }
          .anticon {
            &.anticon-block {
              svg {
                width: 16px;
                height: 16px;
              }
            }
            &.anticon-clock-circle {
              margin-right: 12px;
              svg {
                width: 20px;
                height: 20px;
              }
            }
            svg {
              fill: #9292A3;
            }
          }
          .anticon-question-circle {
            margin-left: 7px;
            svg {
              fill: #9292A3;
            }
          }
          .ant-picker {
            min-width: 110px;
            margin-right: 9px;
            border: 1px solid #ECEDF0;
            box-sizing: border-box;
            border-radius: 4px;
            .ant-picker-suffix {
              .anticon-calendar {
                margin-right: 0;
              }
              .anticon-clock-circle {
                display: none;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .textAreaWrapper {
        display: flex;
        flex-direction: column;
        .areaInput {
          display: flex;
          align-items: flex-start;
          :global .anticon-file {
            font-size: 16px;
            margin-right: 14px;
            svg {
              transform: rotateX(180deg);
              margin-right: 0;
              fill: #9292a3;
            }
          }
          textarea {
            border: 1px solid #ECEDF0;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 17px;
          }
          svg {
            margin-right: 14px;
            fill: #9292A3;
          }
        }
       
      }
      .userSelect {
        display: flex;
        align-items: center;

        :global {
          .ant-select {
            width: 100% !important;
            .ant-select-selector {
              height: 40px;
              .ant-select-selection-search {
                .ant-select-selection-search-input {
                  height: 40px;
                }
              }
              .ant-select-selection-item {
                line-height: 40px; 
              }
            }
           
          }
          .anticon {
            margin-right: 14px;
            svg {
              fill: #9292a3;
            }
          }
        }
      }
      .beautyData {
        display: flex;
        align-items: flex-start;
        .link {
          margin-top: 26px; 
          :global .anticon-link {
              svg {
                fill: #9292a3;
                margin-right: 14px;
              }
          }
        }
        .innerContent {
          width: 100%;
          .or-class {
            text-align: center;
            margin-top: 13px;
            color: #bdbdc5;
          }
          .customPlaceHolder {
            :global {
              .ant-select {
                .ant-select-selector {
                  height: 40px;
                  .ant-select-selection-search {
                    padding-left: 0px;
                    height: 20px;
                    input {
                      height: 20px !important;
                      padding-left: 0 !important;
                    }
                  }
                  .ant-select-selection-placeholder {
                    padding-left: 25px;
                  }
                }
              }
            }
          }
          .custom-input-text {
            margin-top: 16px;
            position: relative;
            :global {
              .ant-select {
                width: 100%;
                .ant-select-selector {
                  height: 40px;
                  .ant-select-selection-item {
                    line-height: 40px;
                  }
                  .ant-select-selection-search {
                    height: 40px;
                    .ant-select-selection-search-input {
                      height: inherit;
                    }
                  }
                }
              }
            }
            .client-content {
          
              :global {
                .ant-select {
                  width: 100%;
                  &:hover {
                    .ant-select-clear {
                      opacity: 1;
                    }
                  }
                  .ant-select-selector {
                    height: 40px;
                    .ant-select-selection-item {
                      line-height: 40px;
                    }
                  }
                }
                .anticon-aim, .anticon-user {
                  position: absolute;
                  left: 15px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
            .lead-icon {
              svg {
                margin-left: 8px;
                fill: #9292A3;
              }
            }
            .user {
              svg {
                margin-left: 8px;
                fill: #9292A3;
              }
            }
            // :global {
            //   .anticon {
            //     position: absolute;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     z-index: 9;
            //     &.anticon-flag,
            //     &.anticon-dollar-circle {
            //       left: 12px;
            //     }
            //     &.anticon-down {
            //       right: 0;
            //       z-index: 10;
            //     }
            //   }
            //   // .ant-select {
            //   //   .ant-select-clear {
            //   //     .anticon {
            //   //       left: 0;
            //   //     }
            //   //   }
            //   //   .ant-select-selector {
            //   //     align-items: center;
            //   //     padding-left: 30px;
            //   //     border: 1px solid #ECEDF0;
            //   //     box-sizing: border-box;
            //   //     border-radius: 4px;
            //   //     height: 40px;
            //   //     .ant-select-selection-search-input {
            //   //       height: 40px;
            //   //       padding-left: 22px;
            //   //     }
            //   //     .ant-select-selection-item {
            //   //       line-height: 40px;
            //   //       padding-right: 20px;
            //   //       padding-left: 5px;
            //   //     }
                  
            //   //     .ant-select-selection-overflow-item {
            //   //       background: #F2F5F7;
            //   //       opacity: 0.85;
            //   //       box-sizing: border-box;
            //   //       margin-right: 5px;
            //   //       border-radius: 2px;
            //   //       &-suffix {
            //   //         background: transparent;
            //   //       }
            //   //       .ant-select-selection-item {
            //   //         display: flex;
            //   //         height: 24px !important;
            //   //         background: transparent !important;
            //   //         line-height: 24px;
            //   //         position: relative;
            //   //         margin-top: 0 !important;
            //   //         margin-bottom: 0 !important;

            //   //         .ant-select-selection-item-remove {
            //   //           .anticon {
            //   //             &.anticon-close {
            //   //               position: absolute;
            //   //               right: 0;
            //   //               top: 13px;
            //   //               z-index: 9999;
            //   //             }
            //   //           }
            //   //         }
            //   //       }
            //   //     }
            //   //   }
            //   // }

            //   // .anticon-close {
            //   //   position: absolute;
            //   //   right: 10px;

            //   // }
            // }
            // :global .ant-select-clear:hover {
            //   color: rgba(0, 0, 0, 0.25) !important;
            // }
          }
        }
      }
      .footerActions {
        margin-top: 20px;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .checkName {
          margin-right: 20px;
        }
        button {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .calendar {
      padding-left: 26px;
      min-width: 331px;
    }
  }


  :global {
    input {
      &::placeholder {
        color: #B8B8C0;
      }
    }
    .ant-modal-content {
      .ant-modal-body {
        .modal-content {
          padding: 0;
        }
      }
    }
  }
  .customHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 8px;
    &:after {
          position: absolute;
          bottom: 0;
          content: '';
          background: #ECEDF0;
          width: 331px;
          height: 1px;
          left: -28px;
        }  border-bottom: 1px solid #ECEDF0;
    h5 {
      font-size: 16px;
      line-height: 24px;
      color: #3D3D46;

    }
    .customBtnGroup {
      display: flex;
      align-items: center;
      :global .anticon {
        color: #9292A3;
        margin-left: 28px;
      }
    }

  }
}
:global {
.rbc-today {
  background: #fff !important;
}
  .rbc-event {
    background: rgba(84, 178, 211, 0.05) !important;
    border: 1px solid rgba(84, 178, 211, 0.5) !important;
    box-sizing: border-box;
    border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: #54B2D3;
    :global {
      svg {
        path {
          fill: #54b2d3 !important;
        }
      }
    }
  }
  .rbc-time-content {
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background: #C9C9D1;
      border-radius: 24px;
    }

  }
}
.calTimeEle {
  display: flex;
  align-items: center;
  svg {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
}

.modal-body-class {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 767px) {
  .activity-modal {
    top: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    padding-bottom: 0 !important;
    :global {
      .ant-modal-content {
        .ant-modal-body {
          .BasicModal_modal-content {
            padding: 0;
          }
        }
        .ant-modal-header {
          padding: 24px 40px 5px;
        }
      }
    }
    .headerWrapper {
      flex-direction: column;
      width: 100%;
      border: none;
      .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 64px;
        padding: 0 16px;
        border-bottom: 1px solid #ECEDF0;
        :global .anticon-menu {
          margin-right: 0;
        }
        span {
          margin-right: 12px;
        }
      }
      .subHeader {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 16px;
        border-bottom: 1px solid #ECEDF0  ;
      }
      .userName {
      
        .userText {
          margin-left: 12px !important;
        }
      }
    }
    .mainContentWrapper {
      display: flex;
      padding: 0 16px;
      .mainContent {
        padding-right: 0;
        width: 100%;
        &:before {
          display: none;
        }
        .input-text {
          display: flex;
          margin-bottom: 20px;
          :global .anticon {
            margin-right: 14px;
            height: 40px;
            display: flex;
            align-items: center;
            svg {
              fill: #9292A3 ;
              width: 16px;
              height: 16px;
            }
          }
        }
        .mobDeviceWidget{
         flex-wrap: nowrap !important;
         justify-content: flex-start;
          align-items: flex-start !important;
          .dateGroup {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
          }
        }
        .widgetTool {
          flex-wrap: wrap ;

          .time-input {
            margin-bottom: 16px;
            :global{
              .ant-picker {
                margin-bottom: 0;
              }
            }
          }
          :global{
            .ant-picker {
              max-width: 110px;
              margin-bottom: 16px;
              .ant-picker-suffix {
                .anticon-calendar {
                  margin-right: 0;
                }
                .anticon-clock-circle {
                  display: none;
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        .footerActions {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 0 !important;
          .checkName {
            margin-right: 0;
            width: 100%;
            margin-bottom: 20px;
            :global .ant-checkbox-wrapper {
              margin-left: 30px;
            }
          }
          .activity-btn-group {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            border-top: 1px solid #ECEDF0;
            button {
              margin-right: 10px;
              flex: 1;
              &:last-child {
                margin-right: 0;
              }
            }
          }

        }
      }

      .calendar {
        display: none;
      }
    }
  }


}
@media screen and (max-width: 480px) {
  .calendar-drawer {
    .userName {
      display: flex;
      align-items: center;
    }
    :global {
      .ant-drawer-content-wrapper {
        width: calc(100% - 43px) !important;
      }
    }
  }
}

 .bigCalEvent {
   .customHeader {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     padding-bottom: 8px;
     &:after {
       position: absolute;
       bottom: 0;
       content: '';
       background: #ECEDF0;
       width: 331px;
       height: 1px;
       left: -28px;
     }  border-bottom: 1px solid #ECEDF0;
     h5 {
       font-size: 16px;
       line-height: 24px;
       color: #3D3D46;

     }
     .customBtnGroup {
       display: flex;
       align-items: center;
       :global .anticon {
         color: #9292A3;
         margin-left: 28px;
       }
     }

   }
}
:global .ant-select-selection-search {
  background: transparent;
}

.highlight {
  color: #54b2d3;
  padding: 0;
  background: none;
}
