.main-container {
  background: #ffffff;
  border-radius: 4px;

  .formik-row {
    padding: 24px;
  }
  .header-container {
    padding: 24px;

    h1 {
      padding: 0px;
    }
  }

  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-form-item-label {
      padding-bottom: 0px;
    }
  }
}
