.locationMainWrapper {
  background: #FFFFFF;
  border: 1px solid #F4F5F7;
  box-sizing: border-box;
  box-shadow: 2px 2px 17px rgba(9, 20, 41, 0.05);
  border-radius: 4px;
  padding: 32px;

  .preHeading {
    color: #3D3D46;
    font-size: 22px;
    font-weight: 500;
  }

  .formGroup {
    display: flex;

    .inputWrap {
      position: relative;
      flex: 1;

      Input {
        height: 40px;
        width: 100%;
      }

      :global {
        .anticon-check-circle {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);

          svg {
            fill: #54b2d3;
          }
        }

        .anticon-close-circle {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }

    .findBtn {
      height: 40px;
      width: 111px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 16px;
      margin-left: 20px;
    }
  }

  .locationBtn {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
  .chooseWrapper{
    width: 560px;
    height:auto;
    background: #fff;
    border: 1px solid #F4F5F7;
    box-sizing: border-box;
    box-shadow: 2px 2px 17px rgba(9, 20, 41, 0.05);
    border-radius: 4px;
    margin-top: 24px;
    padding: 32px;
    .chooseHeading{
      font-weight: 500;
      font-size: 22px;
      color: #3D3D46;
      text-align: center;
    }
    .btnWrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .contentBox{
      padding: 20px 24px;
      border: 1px solid #ECEDF0;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 16px;
      img {
        margin-right: 20px;
      }
      .rightContent{
        margin-left: 0;
        p {
          margin-bottom: 0;
        }
      }
      .clinicName{
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 0px;
        color: #3D3D46;
      }
      .setImage{
        height: 50px;
        width: 50px;
        float: left;
      }
      &:hover {
        border: 1px solid #54B2D3;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.13);
        cursor: pointer;
      }
    }
  }
  .slide1{
    animation: slideme1 .3s ease-out ;
  }
  @keyframes slideme1{
    0%{
      transform:  translateX(500px);
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80%{
      transform:  translateX(0);
    }
  }
  .slide2{
    animation: slideme2 .3s ease-out ;
  }
  @keyframes slideme2{
    0%{
      transform:  translateX(500px);
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80%{
      transform:  translateX(0);
    }
  }

@media screen and (max-width: 767px) {
  .locationMainWrapper {
    border: none;
    box-shadow: none;
    padding: 0 20px 20px;

    .preHeading {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }

    .formGroup {
      flex-direction: column;
      .findBtn {
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 16px;
        margin-left: 0;
        margin-top: 32px;
      }
    }

    .locationBtn {
      margin-top: 16px;
      button {
        width: 100%;
      }
    }
  }
  .slide2{
    width: 100%;
  }
  .chooseWrapper{
    width: 100%;
    height:auto;
    background: #fff;
    border: none;
    box-shadow:none;
    margin-top: 0;
    padding: 20px;
    .chooseHeading{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    .btnWrap {
      margin-top: 28px;
      button {
        width: 100%;
      }
    }
    .contentBox{
      padding: 20px;

      .rightContent{
        margin-left: 0;
        p {
          margin-bottom: 0;
        }
      }
      .clinicName{
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 0px;
        color: #3D3D46;
      }


    }
  }
}
