.desktop-view-none {
  display: none;
}
@media (min-width: 200px) and (max-width: 767px) {
  .desktop-view-none {
    display: block;
  }
}

.pabau-common-header {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 3px 5px #eee;
  padding: 21px 0px;
  width: 100%;
  top: 0;
  // height: 60px;
  > div {
    height: 100%;
  }
}

.mobile-view-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 16px;

  .w-100 {
    width: 100%;
  }
  .w-50 {
    width: 50%;
  }

  .common-header-heading {
    display: flex;
    align-items: center;

    span {
      color: var(--light-grey-color);
      font-size: 17px;
    }
    p {
      margin-bottom: 0px;
      font-family: Circular-Std-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      text-transform: capitalize;
      color: var(--grey-text-color);
      padding-left: 10px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }

    .centered-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 35px;
    }
  }

  .right-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search-input {
      color: #9292a3;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;

      .search-style {
        margin-left: 15px;
        background: #ffffff;
        border: 1px solid var(--border-color-base);
      }
    }
  }

  .create-plus-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    span {
      color: var(--primary-color);
      font-size: 25px;
    }
  }
  .btn-outer-wrapper {
    position: relative;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
    &::after {
      content: '';
      height: 1px;
      width: 1px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.03);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      position: absolute;
      transition: 0.3s;
      z-index: -1;
    }
    &:focus::after {
      transform: scale(36);
    }
  }
}

.menu-header-icon-color {
  color: #9292a3;
  font-size: 18px;
}
.closeIcon {
  color: #54b2d3;
}

.webinar-wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
.headerChipWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #ecedf0;
  @media screen and (max-width: 1024px) {
    flex-wrap: nowrap;
    overflow: auto;
    margin-top: 16px;
  }
}

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 23.8%);
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.gridMobileWrapper {
  .listIcon {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 64px;
    line-height: 64px;
    background: #fff;
    z-index: 99;
    width: 100%;
    svg {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
      color: #9292a3;
    }
    .textContent {
      text-align: center;
      width: 100%;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      text-transform: capitalize;
      color: #3d3d46;
    }
  }
}

.btnView {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  margin-top: 16px;
  color: #9292a3;
}

.cardWrapper {
  padding: 24px;
  background: #ffffff;
  border-radius: 4px;
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    @media screen and (max-width: 767px) {
      display: none;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: #3d3d46;
    }

    .search {
      width: 208px;
    }
  }
  .mainWrap {
    display: flex;
    align-items: flex-start;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }
    .rightSide {
      margin-top: 16px;
      width: 23.8%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      .textTitle {
        color: #3d3d46;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 0;
        line-height: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}

.search-results-card {
  background: #ffffff;
  border: 1px solid #ecedf0;
  border-radius: 4px;
  .search-body {
    padding: 4px 12px;
    .search-list {
      padding: 10px 0;
      border-bottom: 1px solid #ecedf0;
      &:last-child {
        border-bottom: none;
      }
      .highlight {
        color: #54b2d3;
        padding: 0;
        background: none;
      }
      span {
        color: #9292a3;
        .search-title {
          color: #b8b8c0;
        }
      }
    }
  }
}

.marketing-icon-style {
  font-size: 19px;
  color: var(--light-grey-color);

  &.paddingRight {
    padding-right: 25px;
  }
}
