.hide-react-quill-editor {
    :global .quill {
        display: none;
    }
    .raw-html-input {
        display: block;
        height: 150px;
        width: 100%;
    }
}

.hide-raw-html {
    :global .quill {
        display: block;
    }
    .raw-html-input {
        display: none;
    }
}