.emergency-main-wrapper {
  .emergency-head {
    padding: 20px 24px;
    border-bottom: 1px solid #ECEDF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #3D3D46;
      margin-bottom: 0;
    }
    .emergency-head-btn {
      .save-btn {
        border: 1px solid #ECEDF0;
        color: #9292A3;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
      }
    }
  }
  :global .ant-row {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    .ant-form-item-label {
      padding-bottom: 2px;
      label {
        color: #9292A3;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
    .ant-form-item-control-input {
      p {
        margin-bottom: 2px;
      }
    }
  }
  .emergencyTwoColumn {
    display: flex;
    justify-content: space-between;
    &:last-child {
      :global .ant-row {
        margin-bottom: 0;
        @media screen and (max-width: 1199px) {
          margin-bottom: 16px;
        }
        &:last-child {
          @media screen and (max-width: 1199px) {
            margin-bottom: 0;
          }
        }
      }
    }
    :global .ant-row {
      width: 100%;
      margin-left: 16px;
      &:first-child {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      margin-bottom: 16px;
      :global .ant-row {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  .emergency-form-wrapper {
    flex: 1;
    max-width: 448px;
    padding-right: 25px;
    @media screen and (max-width: 1199px){
      max-width: 50%;
      flex: 1 50%;
    }
    @media screen and (max-width: 992px) {
      max-width: unset;
      width: 100%;
      padding-right: 0;
    }
  }
  .upper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 24px;
    .doctor-wrapper {
      flex: 1;
      max-width: 365px;
      border: 1px solid #ECEDF0;
      border-radius: 4px;
      padding: 16px 24px;
      @media screen and (max-width: 991px) {
        max-width: unset;
        width: 100%;
      }
      .doctor-title{
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #9292A3;
        margin-bottom: 16px;
      }
      :global .ant-form-item{
        .ant-form-item-label{
          padding-bottom: 2px;
          label {
            font-size: 14px;
            line-height: 22px;
            color: #9292A3;
          }
        }
      }
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  }
  .doctor-mobile-wrapper {
    display: none;
    @media screen and (max-width: 991px) {
      display: flex;
      margin: 28px 20px 20px;
      flex-direction: column;
      border: 1px solid #ECEDF0;
      border-radius: 4px;
      padding: 20px;
    }
  }
  .secondary-form-wrapper{
    padding: 20px 24px;
    border-top: 1px solid #ECEDF0;
    @media screen and (max-width: 991px) {
      border-bottom: 1px solid #ECEDF0;
      padding-bottom: 0;
    }
  }
  .emergency-head-mobile-btn {
    display: none;
    @media screen and (max-width: 767px) {
      display: flex;
      padding: 20px;
      flex-direction: column;
      border-top: 1px solid #ECEDF0;
      .save-btn {
        border: 1px solid #ECEDF0;
        color: #9292A3;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
      }
    }
  }
}
