.lab-wrapper {
  background-color: #fff;
  .create-header-wrapper {
    .creat-head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .creat-right {
        padding-top: 24px;
        padding-right: 24px;
        .check-activate {
          color: #9292a3;
          margin-right: 16px;
        }
        .cancel-btn {
          background: #ffffff;
          border: 1px solid #ecedf0;
          border-radius: 4px;
          padding: 9px 16px;
          color: #9292a3;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-transform: capitalize;
          height: auto;
          margin-right: 16px;
        }
        .create-btn {
          background: #54b2d3;
          border-radius: 4px;
          border: none;
          padding: 10px 16px;
          color: #ffffff;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-transform: capitalize;
          height: auto;
        }
      }
    }
  }

  .phone-email-wrapper {
    display: flex;
  }
  div.form-div {
    padding: 5px 20px 0px 20px;
  }

  .footer {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -5px 5px #eee;
    position: sticky;
    bottom: 0;
    z-index: 1;

    button {
      width: 100%;

      &:first-child {
        margin-right: 7.5px;
      }
      &:last-child {
        margin-left: 7.5px;
      }
    }
  }
}
.basic-info {
  padding: 0 24px;
  margin-top: 12px;
  h6 {
    color: #3d3d46;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .infoList {
    display: flex;
    max-width: 602px;
    .listing {
      flex: 1;
      margin-right: 26px;
      margin-bottom: 28px;
      :global .ant-form-item-explain-error {
        li {
          color: #ff5b64;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      :global .ant-form-item-label {
        padding-bottom: 0;
      }
      label,
      .phone-number-label {
        color: #9292a3;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
      }
      :global .ant-form-item-control {
        .ant-input {
          background: #ffffff;
          border: 1px solid #ecedf0;
          border-radius: 4px;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          padding: 8px 16px;
          &:focus {
            border-color: #ff5b64;
            box-shadow: none;
          }
        }
      }
      :global .react-tel-input {
        .form-control {
          height: 40px;
        }
        .flag-dropdown {
          height: 38px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0;
    margin-top: 15px;
    .infoList {
      flex-direction: column;
      .listing {
        margin-right: 0;
      }
    }
  }
}
