.medical-forms-container {
  background-color: white;
  width: 100%;
  margin-top: 16px;

  :global {
    .ant-tabs-content .ant-tabs-content-top {
      height: 100vh;
    }
  }
}

.medical-forms-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  :global {
    .ant-typography,
    .ant-breadcrumb {
      padding: 0;
    }
    .ant-breadcrumb {
      margin-bottom: 8px;
    }
  }
  .medical-forms-ops {
    display: flex;
    align-items: center;
    > div {
      margin-left: 1rem;
    }
  }
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: transparent;
}

.marketing-icon-style {
  font-size: 19px;
  color: var(--light-grey-color);
  padding-right: 25px;
}
.plus-icon-style {
  color: var(--primary-color);
  font-size: 25px;
  border-radius: 4px;
}
