.advanceCollapse {
  color: #3d3d46;
  font-size: 16px;
  line-height: 24px;

  :global {
    .ant-collapse-header {
      padding: 0 0 12px 0 !important;
      .ant-collapse-arrow {
        padding: 0 !important;
        right: auto !important;
        left: 80px !important;
      }
    }

    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
}

.fullScreenModal {
  max-width: 596px;
  margin: 20px auto 20px auto;
  > div {
    padding: 20px;
    background-color: #fff;
    box-shadow: 2.5px 2.5px 15px #eee;
    margin: 0px 15px;
  }
}
