.appointment-wrapper {
    display: flex;
    width: 100%; 
    justify-content: center;
    align-items: flex-start;   
}
.overdue-Row{
    color: #f94839 !important;  
  }
.today-Row{
    color: #0c923e !important;
}
.todo{
    color: #9292a3
}